<!-- As a link -->
<html lang='ja'>
<head>
    <meta charset="UTF-8">
    <title> TechHub </title>
</head>


<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TechHub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <h1>WELCOME TO TechHub </h1>
    <h2> For all things tech in Japan! </h2>
    <p> This is a forum for laboratory technicans to connect in Japan!  Based on the location of the web founder, this will be related to information
    resources, and tips/tricks and other useful tidbits for those doing most amazing (some say, the busiest) job in the world!  Please reach out and
    connect with others and please do it responsibly and safely.  If you have any issues on how to behave online, then my only advice for you is not
    to do it here (or anywhere!).
    </p>
    <p> Please use our forum and share tips and tricks. Nothing here is vetted by Zeus (or any other immortal), so ensure that you include necessary
    safety information, resources, hazcards etc etc.
    </p>
    <p> Sign up and spread the word!  When the web master started this job, there was nothing but word-of-mouth and shadowing your senpai! Information
    sharing is invaluable for techs and it is nice to meet others doing the same fantastic work!
    </p>
</body>
</html>